.result-container {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.result-container-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}


.result-title {
  color: #737373;
  font-size: 16px;
  font-weight: bold;
}

.result-description {
  color: #737373;
  font-size: 14px;
  margin: 0;
}

@media (min-width: 992px) {
  .result-container-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: unset;
    margin-bottom: 20px;
    padding: 15px 10px 10px 20px;
  }

  .result-title {
    font-size: 18px;
    padding-right: 10px;
  }
  
  .result-description {
    font-size: 16px;
  }
}
